@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <base href="@Url.Content("~/")" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/bootstrap.min.css")" />
    <link rel="Stylesheet" href="@Url.Content("~/Content/my.css")" />
<body>
<header>
  <div class="jumbotron">
    <h3>Список задач</h3>
  </div>
</header>
 <aside>
    <ul>
    <li><button class="btn btn-primary" id="categories">Завантажити усі категорії</button></li>
    <li><button class="btn btn-success" id="delete">Видалити усі зроблені задачі</button></li>
    </ul>
 </aside>
 <main>
    <section id="main">
    Завантажте усі категорії
    </section>
 </main>
 <footer></footer>
 <script src="@Url.Content("~/Scripts/jquery-2.1.4.min.js")"></script>
 <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
 <script src="@Url.Content("~/Scripts/handler.js")"></script>
</body>
</html>
